<div id="field" style="border: 1pt solid black; width: 200px; height: 200px; color: gray">
	Click anywhere on this field. Be careful of the hidden danger zones, there are bombs!
</div>
<div id="log"></div>
